*{
	font-family: "Calibri", "Helvetica", sans-serif;
}

body{
	margin: 10px;
	padding: 10px;
	background-color: black;
	color: green;
	text-align: center;
}

img{
	paddng: 5px;
	margin: 10px;
	max-width: 70%;
   height: auto;
   border-radius: 5px;
   overflow: hidden;
}

code {
  border-radius: 10px;
  display: block;
  padding: 5px;
  color: black;
  background-color: gray;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: pre-wrap;
}

nav {
	text-align: justify;
	margin: 50px;
}

footer {
	padding-top: 10px;
	display: flex;
	justify-content: space-around;
}

footer div {
	flex: 1;
	margin: 0 4px;
}

a {
	text-decoration: none;
	color: inherit;
}


/*.obviarContent{*/
/*	display: inline-block;*/
/*	 text-align: left;*/
/*	 white-space: pre;*/
/*}*/

.codigo-container {
	font-size: 13px;
   position: relative;
   display: inline-block; 
   border: 1px solid #ccc;
   padding: 10px;
   background-color: #f9f9f9;
   border-radius: 4px;
	font-family: monospace; 
} 

.btn_cp {
   position: absolute;
   top: 10px;
   right: 10px;
	margin: 10px;
	padding: 1px;
}
pre {
   margin: 0;
   overflow-x: auto;
   background-color: #eee;
   padding: 10px;
   border-radius: 4px;
   text-align: left;
}

.formB {
   text-decoration: none;
   color: green;
   font-weight: bold;
}
.formB:hover {
   cursor: pointer;
   color: black;
}
